*.txt
tab_lib.py
Intraday_udemy copy.py
My portfolio.py
untitled1.py
Trading/tickers.csv
Trading/screener_peer_comparison_data.csv
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/algoTrading.iml
